:root {
    --text: #032319;
    --background: #fafffd;
    --primary: #2d5c4e;
    --secondary: #626262;
    --accent: #f05477;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    color: var(--text);
    padding: 20px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Optional: if you also want vertical centering */
}

h1, h2, h3 {
    margin: 0;
    color: var(--primary);
    text-align: center;
}

h2 {
    font-size: 1.17em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Optional: if you also want vertical centering */
    width: 100%;
    margin-bottom: 5px;
}

label {
    margin: 5px 0 5px;
}

input,
select {
    padding: 8px;
    margin: 5px 0 5px;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    box-sizing: border-box; /* Makes padding not affect width */
}

button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: var(--accent);
}

.globalParameters {
    margin-top: 5px;
    display: inline-block;
    flex-wrap: wrap;
}

#noteInputs{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Centers content horizontally */
    align-items: flex-start; /* Optional: if you also want vertical centering */
    max-height: 550px;
    max-width: 100%;
}

.noteContainer {
    display: inline-block;
    font-size: 14px;
    border-top: 1px solid var(--secondary);
    white-space: nowrap; /* Prevents items from wrapping to the next line */
}

.noteContainer label,
.noteContainer input,
.noteContainer select {
    display: inline-block;
    width: auto;
    max-width: 85px;
    margin-right: 10px;
}

.noteContainer button {
    background-color: var(--secondary);
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0 10px 0 0;
}

.noteContainer button:hover {
    background-color: var(--accent);
}

midi-player {
    display: block;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    backdrop-filter: drop-shadow(0 0 2px rgba(0,0,0,0.1))
}

midi-visualizer {
    display: block;
    margin-top: 20px;
    max-width: 100%;
}

#info {
    margin: 0px 0px 10px;
    padding: 0;
    text-align: center;
}

#updateMessage{
    color: var(--accent);
    display: none;
}

footer{
    text-align:center;
}